<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>    
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/applicationStyles/style.min.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    
    @RenderBody()


    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
