<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="SecretariaControlEntities" 
         connectionString="metadata=res://*/SecretariaControl.Entity.csdl|res://*/SecretariaControl.Entity.ssdl|res://*/SecretariaControl.Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RNBEZERRA;initial catalog=SecretariaControl.Database;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>